**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.properties
*.log
*.lck
.DS_Store
*.dat
airportdb/log/log.ctrl
*.ctrl
airportdb/log/README_DO_NOT_TOUCH_FILES.txt
airportdb/README_DO_NOT_TOUCH_FILES.txt
airportdb/seg0/README_DO_NOT_TOUCH_FILES.txt
*.class
build/built-jar.properties
derby.log
*.properties
*.log
derby.log
build/*
